<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the enrollment_init() hook (in hooks/enrollment.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="enrollment-date-<%%VALUE(stid)%%>" class="enrollment-date"><%%VALUE(date)%%></td>
		<td id="enrollment-stid-<%%VALUE(stid)%%>" class="enrollment-stid"><%%VALUE(stid)%%></td>
		<td id="enrollment-full_name-<%%VALUE(stid)%%>" class="enrollment-full_name"><%%VALUE(full_name)%%></td>
		<td id="enrollment-class-<%%VALUE(stid)%%>" class="enrollment-class"><%%VALUE(class)%%></td>
		<td id="enrollment-term-<%%VALUE(stid)%%>" class="enrollment-term"><%%VALUE(term)%%></td>
		<td id="enrollment-amount_received-<%%VALUE(stid)%%>" class="enrollment-amount_received"><%%VALUE(amount_received)%%></td>
		<td id="enrollment-balance-<%%VALUE(stid)%%>" class="enrollment-balance"><%%VALUE(balance)%%></td>
		<td id="enrollment-cleared-<%%VALUE(stid)%%>" class="enrollment-cleared"><%%VALUE(cleared)%%></td>
