<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the fees_structure_init() hook (in hooks/fees_structure.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="fees_structure-code-<%%VALUE(id)%%>" class="fees_structure-code"><%%SELECT%%><%%VALUE(code)%%><%%ENDSELECT%%></td>
		<td id="fees_structure-fees-<%%VALUE(id)%%>" class="fees_structure-fees text-right"><%%SELECT%%><%%VALUE(fees)%%><%%ENDSELECT%%></td>
		<td id="fees_structure-description-<%%VALUE(id)%%>" class="fees_structure-description"><%%SELECT%%><%%VALUE(description)%%><%%ENDSELECT%%></td>
