<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the rizalts_init() hook (in hooks/rizalts.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="rizalts-student_name-<%%VALUE(id)%%>" class="rizalts-student_name"><%%VALUE(student_name)%%></td>
		<td id="rizalts-total_marks-<%%VALUE(id)%%>" class="rizalts-total_marks"><%%VALUE(total_marks)%%></td>
		<td id="rizalts-result-<%%VALUE(id)%%>" class="rizalts-result text-right"><%%VALUE(result)%%></td>
