<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Staff id -->
		<div class="form-group staff-staff_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Staff id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(staff_id)%%></div>
			</div>
		</div>
		<!-- Field: Full name -->
		<div class="form-group staff-full_name" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Full name</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(full_name)%%></div>
			</div>
		</div>
		<!-- Field: Contact -->
		<div class="form-group staff-contact" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Contact</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(contact)%%></div>
			</div>
		</div>
		<!-- Field: Subject -->
		<div class="form-group staff-subject" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Subject</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="subject<%%RND1%%>"><%%COMBOTEXT(subject)%%></span></div>
			</div>
		</div>
		<!-- Field: Date of joining -->
		<div class="form-group staff-date_of_joining" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Date of joining</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(date_of_joining)%%></div>
			</div>
		</div>
		<!-- Field: Contract ends -->
		<div class="form-group staff-contract_ends" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Contract ends</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(contract_ends)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
<!-- child records -->
<div class="panel-body">
	<div id="staff-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=staff-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'staff',
				SelectedID: '<%%VALUE(id)%%>',
				Operation: 'show-children-printable'
			},
			'staff-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

